<div class="jumbotron text-white text-center">
  <!-- some text -->
</div>
<div class="container bg-light py-4 mt-4 rounded border-top">

  <%= link_to "Edit", edit_church_url %>
  <%= button_to "Delete", church_path(@church), method: :delete %>
  <%= link_to "New Department", new_church_department_url(@church) %>
  <div class="departments">
    <div class="row row-cols-3">
      <% @church.departments.each do |department| %>
        <div>
          <div>
            <div class="card h-100">
              <div class="card-img text-center pt-4 ">
                <!-- img goes here -->
                <%= image_tag(department.picture, :size => "280x200") %>
              </div>
              <div class="card-body">
                <h5 class="card-title"><%= department.name %></h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eget scelerisque erat, in rhoncus massa. Vestibulum molestie dui ac ipsum interdum semper. Nulla vel viverra eros. Phasellus et volutpat risus, ut ultrices augue. Aenean eu risus lectus. In eget sagittis eros, non tempus turpis. Aenean erat nibh, ornare at dapibus at, interdum ut dui. In ornare metus libero, non aliquet leo efficitur eget. Maecenas maximus orci lorem. Fusce quis sapien luctus, scelerisque velit ut, scelerisque justo. Praesent elementum finibus nulla, ut euismod justo commodo ac.</p>
                <%= @church.vision %>
                <%= department.motto %>
                <div class="show-dept">
                  <%= link_to "Visit Department", church_department_url(@church, department)%>
                </div>
                <div class="edit-department">
                  <%= link_to "Edit Department", edit_church_department_url(@church, department)%>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
